<div class="dialog">
    <div>
        <h1>Acesso Negado (403)</h1>
        <p>Você não tem autorização para acessar esta funcionalidade.</p>
    </div>
    <p>Se acha que ocorreu um erro, entre em contato com os responsáveis pelo sistema.</p>
    <%= link_to "Voltar para a Página Inicial", root_path %>
</div>